# Importing Busstop

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
BusData202101 = pd.read_csv('2.5_transport_node_bus_202101.csv')
BusData202101.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-01,WEEKENDS/HOLIDAY,7,BUS,56061,8,58
1,2021-01,WEEKDAY,7,BUS,56061,17,53
2,2021-01,WEEKDAY,8,BUS,64179,1,56
3,2021-01,WEEKENDS/HOLIDAY,8,BUS,64179,4,16
4,2021-01,WEEKENDS/HOLIDAY,16,BUS,11551,25,202

In [3]:
BusData202101['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202101['TOTAL_TAP_IN_VOLUME'] + BusData202101['TOTAL_TAP_OUT_VOLUME']
BusData202101Weekday = pd.DataFrame(BusData202101[BusData202101['DAY_TYPE'] == 'WEEKDAY'])
BusData202101WeekendPH = pd.DataFrame(BusData202101[BusData202101['DAY_TYPE'] == 'WEEKENDS/HOLIDAY'])
BusData202101Weekday = BusData202101Weekday.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKDAY', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKDAY', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'}, inplace = False)
BusData202101WeekendPH = BusData202101WeekendPH.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND'}, inplace = False)
BusData202101WeekendPH = BusData202101WeekendPH[['DAY_TYPE', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']]
BusData202101Merge = pd.merge(BusData202101Weekday, BusData202101WeekendPH, on=['PT_CODE', 'TIME_PER_HOUR'])
BusData202101Merge.head()

,YEAR_MONTH,DAY_TYPE_x,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKDAY,TOTAL_TAP_OUT_VOLUME_WEEKDAY,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY,DAY_TYPE_y,TOTAL_TAP_IN_VOLUME_WEEKEND,TOTAL_TAP_OUT_VOLUME_WEEKEND,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND
0,2021-01,WEEKDAY,7,BUS,56061,17,53,70,WEEKENDS/HOLIDAY,8,58,66
1,2021-01,WEEKDAY,8,BUS,64179,1,56,57,WEEKENDS/HOLIDAY,4,16,20
2,2021-01,WEEKDAY,16,BUS,11551,28,400,428,WEEKENDS/HOLIDAY,25,202,227
3,2021-01,WEEKDAY,17,BUS,85061,737,1341,2078,WEEKENDS/HOLIDAY,337,838,1175
4,2021-01,WEEKDAY,12,BUS,10219,41,25,66,WEEKENDS/HOLIDAY,8,10,18

In [4]:
BusData202101Merge['TOTAL_TAP_IN_VOLUME'] = BusData202101Merge['TOTAL_TAP_IN_VOLUME_WEEKDAY'] + BusData202101Merge['TOTAL_TAP_IN_VOLUME_WEEKEND']
BusData202101Merge['TOTAL_TAP_OUT_VOLUME'] = BusData202101Merge['TOTAL_TAP_OUT_VOLUME_WEEKDAY'] + BusData202101Merge['TOTAL_TAP_OUT_VOLUME_WEEKEND']
BusData202101Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202101Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'] + BusData202101Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']
BusData202101Merge = BusData202101Merge[['YEAR_MONTH', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME', 'TOTAL_TAP_OUT_VOLUME', 'TOTAL_TAP_IN_TAP_OUT_VOLUME']]
BusData202101Sorted = BusData202101Merge.sort_values(by=['PT_CODE', 'TIME_PER_HOUR'])
BusData202101Sorted.head()

,YEAR_MONTH,TIME_PER_HOUR,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME,TOTAL_TAP_IN_TAP_OUT_VOLUME
49568,2021-01,0,1012,290,68,358
23030,2021-01,5,1012,160,29,189
74523,2021-01,6,1012,364,511,875
61824,2021-01,7,1012,775,741,1516
44039,2021-01,8,1012,674,1369,2043

In [5]:
BusData202102 = pd.read_csv('2.5_transport_node_bus_202102.csv')
BusData202102.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-02,WEEKENDS/HOLIDAY,6,BUS,67551,177,16
1,2021-02,WEEKDAY,6,BUS,67551,2645,52
2,2021-02,WEEKDAY,7,BUS,66541,472,261
3,2021-02,WEEKENDS/HOLIDAY,7,BUS,66541,125,91
4,2021-02,WEEKDAY,17,BUS,54209,1213,760

In [6]:
BusData202102['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202102['TOTAL_TAP_IN_VOLUME'] + BusData202102['TOTAL_TAP_OUT_VOLUME']
BusData202102Weekday = pd.DataFrame(BusData202102[BusData202102['DAY_TYPE'] == 'WEEKDAY'])
BusData202102WeekendPH = pd.DataFrame(BusData202102[BusData202102['DAY_TYPE'] == 'WEEKENDS/HOLIDAY'])
BusData202102Weekday = BusData202102Weekday.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKDAY', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKDAY', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'}, inplace = False)
BusData202102WeekendPH = BusData202102WeekendPH.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND'}, inplace = False)
BusData202102WeekendPH = BusData202102WeekendPH[['DAY_TYPE', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']]
BusData202102Merge = pd.merge(BusData202102Weekday, BusData202102WeekendPH, on=['PT_CODE', 'TIME_PER_HOUR'])
BusData202102Merge.head()

,YEAR_MONTH,DAY_TYPE_x,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKDAY,TOTAL_TAP_OUT_VOLUME_WEEKDAY,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY,DAY_TYPE_y,TOTAL_TAP_IN_VOLUME_WEEKEND,TOTAL_TAP_OUT_VOLUME_WEEKEND,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND
0,2021-02,WEEKDAY,6,BUS,67551,2645,52,2697,WEEKENDS/HOLIDAY,177,16,193
1,2021-02,WEEKDAY,7,BUS,66541,472,261,733,WEEKENDS/HOLIDAY,125,91,216
2,2021-02,WEEKDAY,17,BUS,54209,1213,760,1973,WEEKENDS/HOLIDAY,566,220,786
3,2021-02,WEEKDAY,12,BUS,61049,100,110,210,WEEKENDS/HOLIDAY,78,63,141
4,2021-02,WEEKDAY,17,BUS,67611,603,278,881,WEEKENDS/HOLIDAY,386,98,484

In [7]:
BusData202102Merge['TOTAL_TAP_IN_VOLUME'] = BusData202102Merge['TOTAL_TAP_IN_VOLUME_WEEKDAY'] + BusData202102Merge['TOTAL_TAP_IN_VOLUME_WEEKEND']
BusData202102Merge['TOTAL_TAP_OUT_VOLUME'] = BusData202102Merge['TOTAL_TAP_OUT_VOLUME_WEEKDAY'] + BusData202102Merge['TOTAL_TAP_OUT_VOLUME_WEEKEND']
BusData202102Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202102Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'] + BusData202102Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']
BusData202102Merge = BusData202102Merge[['YEAR_MONTH', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME', 'TOTAL_TAP_OUT_VOLUME', 'TOTAL_TAP_IN_TAP_OUT_VOLUME']]
BusData202102Sorted = BusData202102Merge.sort_values(by=['PT_CODE', 'TIME_PER_HOUR'])
BusData202102Sorted.head()

,YEAR_MONTH,TIME_PER_HOUR,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME,TOTAL_TAP_IN_TAP_OUT_VOLUME
49301,2021-02,0,1012,282,72,354
22639,2021-02,5,1012,91,25,116
74381,2021-02,6,1012,360,426,786
61736,2021-02,7,1012,608,686,1294
43828,2021-02,8,1012,533,1103,1636

In [8]:
BusData202103 = pd.read_csv('2.5_transport_node_bus_202103.csv')
BusData202103.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-03,WEEKENDS/HOLIDAY,21,BUS,25579,25,0
1,2021-03,WEEKDAY,21,BUS,25579,206,2
2,2021-03,WEEKDAY,17,BUS,40251,1,10
3,2021-03,WEEKENDS/HOLIDAY,17,BUS,40251,9,1
4,2021-03,WEEKENDS/HOLIDAY,23,BUS,62249,15,16

In [9]:
BusData202103['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202103['TOTAL_TAP_IN_VOLUME'] + BusData202103['TOTAL_TAP_OUT_VOLUME']
BusData202103Weekday = pd.DataFrame(BusData202103[BusData202103['DAY_TYPE'] == 'WEEKDAY'])
BusData202103WeekendPH = pd.DataFrame(BusData202103[BusData202103['DAY_TYPE'] == 'WEEKENDS/HOLIDAY'])
BusData202103Weekday = BusData202103Weekday.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKDAY', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKDAY', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'}, inplace = False)
BusData202103WeekendPH = BusData202103WeekendPH.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND'}, inplace = False)
BusData202103WeekendPH = BusData202103WeekendPH[['DAY_TYPE', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']]
BusData202103Merge = pd.merge(BusData202103Weekday, BusData202103WeekendPH, on=['PT_CODE', 'TIME_PER_HOUR'])
BusData202103Merge.head()

,YEAR_MONTH,DAY_TYPE_x,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKDAY,TOTAL_TAP_OUT_VOLUME_WEEKDAY,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY,DAY_TYPE_y,TOTAL_TAP_IN_VOLUME_WEEKEND,TOTAL_TAP_OUT_VOLUME_WEEKEND,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND
0,2021-03,WEEKDAY,21,BUS,25579,206,2,208,WEEKENDS/HOLIDAY,25,0,25
1,2021-03,WEEKDAY,17,BUS,40251,1,10,11,WEEKENDS/HOLIDAY,9,1,10
2,2021-03,WEEKDAY,23,BUS,62249,38,14,52,WEEKENDS/HOLIDAY,15,16,31
3,2021-03,WEEKDAY,14,BUS,54629,66,419,485,WEEKENDS/HOLIDAY,27,159,186
4,2021-03,WEEKDAY,20,BUS,41031,401,355,756,WEEKENDS/HOLIDAY,156,145,301

In [10]:
BusData202103Merge['TOTAL_TAP_IN_VOLUME'] = BusData202103Merge['TOTAL_TAP_IN_VOLUME_WEEKDAY'] + BusData202103Merge['TOTAL_TAP_IN_VOLUME_WEEKEND']
BusData202103Merge['TOTAL_TAP_OUT_VOLUME'] = BusData202103Merge['TOTAL_TAP_OUT_VOLUME_WEEKDAY'] + BusData202103Merge['TOTAL_TAP_OUT_VOLUME_WEEKEND']
BusData202103Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202103Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'] + BusData202103Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']
BusData202103Merge = BusData202103Merge[['YEAR_MONTH', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME', 'TOTAL_TAP_OUT_VOLUME', 'TOTAL_TAP_IN_TAP_OUT_VOLUME']]
BusData202103Sorted = BusData202103Merge.sort_values(by=['PT_CODE', 'TIME_PER_HOUR'])
BusData202103Sorted.head()

,YEAR_MONTH,TIME_PER_HOUR,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME,TOTAL_TAP_IN_TAP_OUT_VOLUME
49471,2021-03,0,1012,282,64,346
22609,2021-03,5,1012,102,50,152
74358,2021-03,6,1012,343,454,797
61499,2021-03,7,1012,682,734,1416
43806,2021-03,8,1012,741,1420,2161

In [11]:
MRTData202101 = pd.read_csv('2.8_transport_node_train_202101.csv')
MRTData202101.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-01,WEEKDAY,11,TRAIN,NS7,2266,1691
1,2021-01,WEEKENDS/HOLIDAY,11,TRAIN,NS7,1656,1484
2,2021-01,WEEKDAY,16,TRAIN,SW4,1012,1586
3,2021-01,WEEKENDS/HOLIDAY,16,TRAIN,SW4,581,614
4,2021-01,WEEKENDS/HOLIDAY,10,TRAIN,CC5,767,1551

In [12]:
MRTData202101['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202101['TOTAL_TAP_IN_VOLUME'] + MRTData202101['TOTAL_TAP_OUT_VOLUME']
MRTData202101Weekday = pd.DataFrame(MRTData202101[MRTData202101['DAY_TYPE'] == 'WEEKDAY'])
MRTData202101WeekendPH = pd.DataFrame(MRTData202101[MRTData202101['DAY_TYPE'] == 'WEEKENDS/HOLIDAY'])
MRTData202101Weekday = MRTData202101Weekday.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKDAY', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKDAY', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'}, inplace = False)
MRTData202101WeekendPH = MRTData202101WeekendPH.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND'}, inplace = False)
MRTData202101WeekendPH = MRTData202101WeekendPH[['DAY_TYPE', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']]
MRTData202101Merge = pd.merge(MRTData202101Weekday, MRTData202101WeekendPH, on=['PT_CODE', 'TIME_PER_HOUR'])
MRTData202101Merge.head()

,YEAR_MONTH,DAY_TYPE_x,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKDAY,TOTAL_TAP_OUT_VOLUME_WEEKDAY,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY,DAY_TYPE_y,TOTAL_TAP_IN_VOLUME_WEEKEND,TOTAL_TAP_OUT_VOLUME_WEEKEND,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND
0,2021-01,WEEKDAY,11,TRAIN,NS7,2266,1691,3957,WEEKENDS/HOLIDAY,1656,1484,3140
1,2021-01,WEEKDAY,16,TRAIN,SW4,1012,1586,2598,WEEKENDS/HOLIDAY,581,614,1195
2,2021-01,WEEKDAY,10,TRAIN,CC5,1238,3460,4698,WEEKENDS/HOLIDAY,767,1551,2318
3,2021-01,WEEKDAY,13,TRAIN,CC23,8334,8250,16584,WEEKENDS/HOLIDAY,1530,1568,3098
4,2021-01,WEEKDAY,22,TRAIN,EW33,794,825,1619,WEEKENDS/HOLIDAY,483,650,1133

In [13]:
MRTData202101Merge['TOTAL_TAP_IN_VOLUME'] = MRTData202101Merge['TOTAL_TAP_IN_VOLUME_WEEKDAY'] + MRTData202101Merge['TOTAL_TAP_IN_VOLUME_WEEKEND']
MRTData202101Merge['TOTAL_TAP_OUT_VOLUME'] = MRTData202101Merge['TOTAL_TAP_OUT_VOLUME_WEEKDAY'] + MRTData202101Merge['TOTAL_TAP_OUT_VOLUME_WEEKEND']
MRTData202101Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202101Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'] + MRTData202101Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']
MRTData202101Merge = MRTData202101Merge[['YEAR_MONTH', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME', 'TOTAL_TAP_OUT_VOLUME', 'TOTAL_TAP_IN_TAP_OUT_VOLUME']]
MRTData202101Sorted = MRTData202101Merge.sort_values(by=['PT_CODE', 'TIME_PER_HOUR'])
MRTData202101Sorted.head()

,YEAR_MONTH,TIME_PER_HOUR,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME,TOTAL_TAP_IN_TAP_OUT_VOLUME
955,2021-01,0,BP10,0,2,2
1266,2021-01,5,BP10,4317,552,4869
2541,2021-01,6,BP10,10628,2159,12787
24,2021-01,7,BP10,12240,3800,16040
2443,2021-01,8,BP10,7709,4035,11744

In [14]:
MRTData202102 = pd.read_csv('2.8_transport_node_train_202102.csv')
MRTData202102.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-02,WEEKENDS/HOLIDAY,11,TRAIN,NS7,1635,1588
1,2021-02,WEEKDAY,11,TRAIN,NS7,2333,1674
2,2021-02,WEEKENDS/HOLIDAY,16,TRAIN,SW4,521,506
3,2021-02,WEEKDAY,16,TRAIN,SW4,969,1582
4,2021-02,WEEKDAY,10,TRAIN,CC5,1233,3146

In [15]:
MRTData202102['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202102['TOTAL_TAP_IN_VOLUME'] + MRTData202102['TOTAL_TAP_OUT_VOLUME']
MRTData202102Weekday = pd.DataFrame(MRTData202102[MRTData202102['DAY_TYPE'] == 'WEEKDAY'])
MRTData202102WeekendPH = pd.DataFrame(MRTData202102[MRTData202102['DAY_TYPE'] == 'WEEKENDS/HOLIDAY'])
MRTData202102Weekday = MRTData202102Weekday.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKDAY', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKDAY', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'}, inplace = False)
MRTData202102WeekendPH = MRTData202102WeekendPH.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND'}, inplace = False)
MRTData202102WeekendPH = MRTData202102WeekendPH[['DAY_TYPE', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']]
MRTData202102Merge = pd.merge(MRTData202102Weekday, MRTData202102WeekendPH, on=['PT_CODE', 'TIME_PER_HOUR'])
MRTData202102Merge.head()

,YEAR_MONTH,DAY_TYPE_x,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKDAY,TOTAL_TAP_OUT_VOLUME_WEEKDAY,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY,DAY_TYPE_y,TOTAL_TAP_IN_VOLUME_WEEKEND,TOTAL_TAP_OUT_VOLUME_WEEKEND,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND
0,2021-02,WEEKDAY,11,TRAIN,NS7,2333,1674,4007,WEEKENDS/HOLIDAY,1635,1588,3223
1,2021-02,WEEKDAY,16,TRAIN,SW4,969,1582,2551,WEEKENDS/HOLIDAY,521,506,1027
2,2021-02,WEEKDAY,10,TRAIN,CC5,1233,3146,4379,WEEKENDS/HOLIDAY,662,1295,1957
3,2021-02,WEEKDAY,13,TRAIN,CC23,7979,7671,15650,WEEKENDS/HOLIDAY,1159,1205,2364
4,2021-02,WEEKDAY,22,TRAIN,EW33,907,875,1782,WEEKENDS/HOLIDAY,364,588,952

In [16]:
MRTData202102Merge['TOTAL_TAP_IN_VOLUME'] = MRTData202102Merge['TOTAL_TAP_IN_VOLUME_WEEKDAY'] + MRTData202102Merge['TOTAL_TAP_IN_VOLUME_WEEKEND']
MRTData202102Merge['TOTAL_TAP_OUT_VOLUME'] = MRTData202102Merge['TOTAL_TAP_OUT_VOLUME_WEEKDAY'] + MRTData202102Merge['TOTAL_TAP_OUT_VOLUME_WEEKEND']
MRTData202102Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202102Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'] + MRTData202102Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']
MRTData202102Merge = MRTData202102Merge[['YEAR_MONTH', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME', 'TOTAL_TAP_OUT_VOLUME', 'TOTAL_TAP_IN_TAP_OUT_VOLUME']]
MRTData202102Sorted = MRTData202102Merge.sort_values(by=['PT_CODE', 'TIME_PER_HOUR'])
MRTData202102Sorted.head()

,YEAR_MONTH,TIME_PER_HOUR,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME,TOTAL_TAP_IN_TAP_OUT_VOLUME
1265,2021-02,5,BP10,3616,459,4075
2541,2021-02,6,BP10,9242,1924,11166
24,2021-02,7,BP10,10864,3520,14384
2445,2021-02,8,BP10,6988,3782,10770
2632,2021-02,9,BP10,5249,3524,8773

In [17]:
MRTData202103 = pd.read_csv('2.8_transport_node_train_202103.csv')
MRTData202103.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-03,WEEKENDS/HOLIDAY,11,TRAIN,NS7,1601,1415
1,2021-03,WEEKDAY,11,TRAIN,NS7,2838,2077
2,2021-03,WEEKENDS/HOLIDAY,16,TRAIN,SW4,442,508
3,2021-03,WEEKDAY,16,TRAIN,SW4,1087,1688
4,2021-03,WEEKDAY,10,TRAIN,CC5,1623,4696

In [18]:
MRTData202103['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202103['TOTAL_TAP_IN_VOLUME'] + MRTData202103['TOTAL_TAP_OUT_VOLUME']
MRTData202103Weekday = pd.DataFrame(MRTData202103[MRTData202103['DAY_TYPE'] == 'WEEKDAY'])
MRTData202103WeekendPH = pd.DataFrame(MRTData202103[MRTData202103['DAY_TYPE'] == 'WEEKENDS/HOLIDAY'])
MRTData202103Weekday = MRTData202103Weekday.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKDAY', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKDAY', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'}, inplace = False)
MRTData202103WeekendPH = MRTData202103WeekendPH.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND'}, inplace = False)
MRTData202103WeekendPH = MRTData202103WeekendPH[['DAY_TYPE', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']]
MRTData202103Merge = pd.merge(MRTData202103Weekday, MRTData202103WeekendPH, on=['PT_CODE', 'TIME_PER_HOUR'])
MRTData202103Merge.head()

,YEAR_MONTH,DAY_TYPE_x,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKDAY,TOTAL_TAP_OUT_VOLUME_WEEKDAY,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY,DAY_TYPE_y,TOTAL_TAP_IN_VOLUME_WEEKEND,TOTAL_TAP_OUT_VOLUME_WEEKEND,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND
0,2021-03,WEEKDAY,11,TRAIN,NS7,2838,2077,4915,WEEKENDS/HOLIDAY,1601,1415,3016
1,2021-03,WEEKDAY,16,TRAIN,SW4,1087,1688,2775,WEEKENDS/HOLIDAY,442,508,950
2,2021-03,WEEKDAY,10,TRAIN,CC5,1623,4696,6319,WEEKENDS/HOLIDAY,701,1614,2315
3,2021-03,WEEKDAY,13,TRAIN,CC23,9420,9529,18949,WEEKENDS/HOLIDAY,1293,1326,2619
4,2021-03,WEEKDAY,22,TRAIN,EW33,929,974,1903,WEEKENDS/HOLIDAY,208,288,496

In [19]:
MRTData202103Merge['TOTAL_TAP_IN_VOLUME'] = MRTData202103Merge['TOTAL_TAP_IN_VOLUME_WEEKDAY'] + MRTData202103Merge['TOTAL_TAP_IN_VOLUME_WEEKEND']
MRTData202103Merge['TOTAL_TAP_OUT_VOLUME'] = MRTData202103Merge['TOTAL_TAP_OUT_VOLUME_WEEKDAY'] + MRTData202103Merge['TOTAL_TAP_OUT_VOLUME_WEEKEND']
MRTData202103Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202103Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'] + MRTData202103Merge['TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND']
MRTData202103Merge = MRTData202103Merge[['YEAR_MONTH', 'TIME_PER_HOUR', 'PT_CODE', 'TOTAL_TAP_IN_VOLUME', 'TOTAL_TAP_OUT_VOLUME', 'TOTAL_TAP_IN_TAP_OUT_VOLUME']]
MRTData202103Sorted = MRTData202103Merge.sort_values(by=['PT_CODE', 'TIME_PER_HOUR'])
MRTData202103Sorted.head()

,YEAR_MONTH,TIME_PER_HOUR,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME,TOTAL_TAP_IN_TAP_OUT_VOLUME
1264,2021-03,5,BP10,4331,497,4828
2542,2021-03,6,BP10,11440,1987,13427
9,2021-03,7,BP10,13130,3718,16848
2441,2021-03,8,BP10,8198,3958,12156
2642,2021-03,9,BP10,5928,3815,9743