# Importing Busstop

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
BusData202101 = pd.read_csv('2.5_transport_node_bus_202101.csv')
BusData202101.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-01,WEEKENDS/HOLIDAY,7,BUS,56061,8,58
1,2021-01,WEEKDAY,7,BUS,56061,17,53
2,2021-01,WEEKDAY,8,BUS,64179,1,56
3,2021-01,WEEKENDS/HOLIDAY,8,BUS,64179,4,16
4,2021-01,WEEKENDS/HOLIDAY,16,BUS,11551,25,202

In [3]:
BusData202101['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202101['TOTAL_TAP_IN_VOLUME'] + BusData202101['TOTAL_TAP_OUT_VOLUME']

In [4]:
BusData202101Weekday = pd.DataFrame(BusData202101[BusData202101['DAY_TYPE'] == 'WEEKDAY'])
BusData202101WeekendPH = pd.DataFrame(BusData202101[BusData202101['DAY_TYPE'] == 'WEEKENDS/HOLIDAY'])

In [6]:
BusData202101Weekday = BusData202101Weekday.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKDAY', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKDAY', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY'}, inplace = False)
BusData202101WeekendPH = BusData202101WeekendPH.rename(columns = {'TOTAL_TAP_IN_VOLUME': 'TOTAL_TAP_IN_VOLUME_WEEKEND', 'TOTAL_TAP_OUT_VOLUME': 'TOTAL_TAP_OUT_VOLUME_WEEKEND', 'TOTAL_TAP_IN_TAP_OUT_VOLUME': 'TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND'}, inplace = False)

In [7]:
BusData202101Weekday.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKDAY,TOTAL_TAP_OUT_VOLUME_WEEKDAY,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY
1,2021-01,WEEKDAY,7,BUS,56061,17,53,70
2,2021-01,WEEKDAY,8,BUS,64179,1,56,57
5,2021-01,WEEKDAY,16,BUS,11551,28,400,428
7,2021-01,WEEKDAY,17,BUS,85061,737,1341,2078
8,2021-01,WEEKDAY,12,BUS,10219,41,25,66

In [8]:
BusData202101WeekendPH.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKEND,TOTAL_TAP_OUT_VOLUME_WEEKEND,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND
0,2021-01,WEEKENDS/HOLIDAY,7,BUS,56061,8,58,66
3,2021-01,WEEKENDS/HOLIDAY,8,BUS,64179,4,16,20
4,2021-01,WEEKENDS/HOLIDAY,16,BUS,11551,25,202,227
6,2021-01,WEEKENDS/HOLIDAY,17,BUS,85061,337,838,1175
9,2021-01,WEEKENDS/HOLIDAY,12,BUS,10219,8,10,18

In [14]:
BusData202101Merge = pd.merge(BusData202101Weekday, BusData202101WeekendPH, on='PT_CODE')

In [15]:
BusData202101Merge.head()

,YEAR_MONTH_x,DAY_TYPE_x,TIME_PER_HOUR_x,PT_TYPE_x,PT_CODE,TOTAL_TAP_IN_VOLUME_WEEKDAY,TOTAL_TAP_OUT_VOLUME_WEEKDAY,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKDAY,YEAR_MONTH_y,DAY_TYPE_y,TIME_PER_HOUR_y,PT_TYPE_y,TOTAL_TAP_IN_VOLUME_WEEKEND,TOTAL_TAP_OUT_VOLUME_WEEKEND,TOTAL_TAP_IN_TAP_OUT_VOLUME_WEEKEND
0,2021-01,WEEKDAY,7,BUS,56061,17,53,70,2021-01,WEEKENDS/HOLIDAY,7,BUS,8,58,66
1,2021-01,WEEKDAY,7,BUS,56061,17,53,70,2021-01,WEEKENDS/HOLIDAY,20,BUS,6,6,12
2,2021-01,WEEKDAY,7,BUS,56061,17,53,70,2021-01,WEEKENDS/HOLIDAY,23,BUS,0,10,10
3,2021-01,WEEKDAY,7,BUS,56061,17,53,70,2021-01,WEEKENDS/HOLIDAY,13,BUS,11,26,37
4,2021-01,WEEKDAY,7,BUS,56061,17,53,70,2021-01,WEEKENDS/HOLIDAY,12,BUS,22,21,43

In [ ]:
BusData202102 = pd.read_csv('2.5_transport_node_bus_202102.csv')
BusData202102.head()

In [ ]:
MRTData202101 = pd.read_csv('2.8_transport_node_train_202101.csv')
MRTData202101.head()

In [ ]:
MRTData202102 = pd.read_csv('2.8_transport_node_train_202102.csv')
MRTData202102.head()

In [ ]:
BusData202102['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202102['TOTAL_TAP_IN_VOLUME'] + BusData202102['TOTAL_TAP_OUT_VOLUME']

In [ ]:
MRTData202101['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202101['TOTAL_TAP_IN_VOLUME'] + MRTData202101['TOTAL_TAP_OUT_VOLUME']

In [ ]:
MRTData202102['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202102['TOTAL_TAP_IN_VOLUME'] + MRTData202102['TOTAL_TAP_OUT_VOLUME']

import geopandas as gpd

#Load into GeoDataFrame
gdf_BusStop = gpd.read_file('C:\.PROGRAMMING\Python\CZ1115-PROJECT\RAW_datasets\BusStopLocation_Jan2021\BusStop.shp')

gdf_BusStop.head()

gdf_BusStop.plot()