# Importing Busstop

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
BusData202101 = pd.read_csv('2.5_transport_node_bus_202101.csv')
BusData202101.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-01,WEEKENDS/HOLIDAY,7,BUS,56061,8,58
1,2021-01,WEEKDAY,7,BUS,56061,17,53
2,2021-01,WEEKDAY,8,BUS,64179,1,56
3,2021-01,WEEKENDS/HOLIDAY,8,BUS,64179,4,16
4,2021-01,WEEKENDS/HOLIDAY,16,BUS,11551,25,202

In [3]:
BusData202102 = pd.read_csv('2.5_transport_node_bus_202102.csv')
BusData202102.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-02,WEEKENDS/HOLIDAY,6,BUS,67551,177,16
1,2021-02,WEEKDAY,6,BUS,67551,2645,52
2,2021-02,WEEKDAY,7,BUS,66541,472,261
3,2021-02,WEEKENDS/HOLIDAY,7,BUS,66541,125,91
4,2021-02,WEEKDAY,17,BUS,54209,1213,760

In [4]:
MRTData202101 = pd.read_csv('2.8_transport_node_train_202101.csv')
MRTData202101.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-01,WEEKDAY,11,TRAIN,NS7,2266,1691
1,2021-01,WEEKENDS/HOLIDAY,11,TRAIN,NS7,1656,1484
2,2021-01,WEEKDAY,16,TRAIN,SW4,1012,1586
3,2021-01,WEEKENDS/HOLIDAY,16,TRAIN,SW4,581,614
4,2021-01,WEEKENDS/HOLIDAY,10,TRAIN,CC5,767,1551

In [5]:
MRTData202102 = pd.read_csv('2.8_transport_node_train_202102.csv')
MRTData202102.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-02,WEEKENDS/HOLIDAY,11,TRAIN,NS7,1635,1588
1,2021-02,WEEKDAY,11,TRAIN,NS7,2333,1674
2,2021-02,WEEKENDS/HOLIDAY,16,TRAIN,SW4,521,506
3,2021-02,WEEKDAY,16,TRAIN,SW4,969,1582
4,2021-02,WEEKDAY,10,TRAIN,CC5,1233,3146

In [ ]:
BusData202101['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202101['TOTAL_TAP_IN_VOLUME'] + BusData202101['TOTAL_TAP_OUT_VOLUME']

In [ ]:
BusData202102['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = BusData202102['TOTAL_TAP_IN_VOLUME'] + BusData202102['TOTAL_TAP_OUT_VOLUME']

In [ ]:
MRTData202101['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202101['TOTAL_TAP_IN_VOLUME'] + MRTData202101['TOTAL_TAP_OUT_VOLUME']

In [ ]:
MRTData202102['TOTAL_TAP_IN_TAP_OUT_VOLUME'] = MRTData202102['TOTAL_TAP_IN_VOLUME'] + MRTData202102['TOTAL_TAP_OUT_VOLUME']

In [ ]:
for

import geopandas as gpd

#Load into GeoDataFrame
gdf_BusStop = gpd.read_file('C:\.PROGRAMMING\Python\CZ1115-PROJECT\RAW_datasets\BusStopLocation_Jan2021\BusStop.shp')

gdf_BusStop.head()

gdf_BusStop.plot()